#pins.transitions-enabled
  -@pins.each do |pin|
    .box.panel.panel-default
      =link_to ( image_tag pin.image.url ), pin
      .panel-body
        %h2= link_to pin.title, pin
        -# %p= pin.description
        %p.user
          Submitted by
          =pin.user.email
          -# =link_to '[ Edit ]', edit_pin_path( pin )
          -# =link_to '[ Delete ]', pin, method: :delete, data:{ confirm:'Are you sure?' }
