#pins.transitions-enabled
  -@pins.each do |pin|
    .box.panel.panel-default
      =link_to ( image_tag pin.image.url( :medium ) ), pin
      .panel-body
        %h2= link_to pin.title, pin
      .panel-footer
        .row
          %p.user{ style:'border-top:0;' }
            -link_to_user_profile_of( pin )
          -unless pin.user == current_user
            .row
              -like_dislike_buttons_for( pin )
