#pins.transitions-enabled
  -@pins.each do |pin|
    .box.panel.panel-default
      =link_to ( image_tag pin.image.url( :medium ) ), pin
      .panel-body
        %h2= link_to pin.title, pin
      .panel-footer
        .row
          %p.user{ style:'border-top:0;' }
            By
            -if pin.user == current_user
              myself
            -else
              =pin.user.email
          -unless pin.user == current_user
            .row
              =link_to like_pin_path( pin ), method: :put, class:'btn btn-default btn-sm' do
                %span.glyphicon.glyphicon-heart
                =pin.get_upvotes.size
              =link_to dislike_pin_path( pin ), method: :put, class:'btn btn-default btn-sm' do
                %span.glyphicon.glyphicon-thumbs-down
                =pin.get_downvotes.size
