%h1 Show Pin
%h3= link_to '[ All Pins ]', root_path

%h2= @pin.title
%p
  =@pin.description
  -# no need to pass @pin, the pin id is read from the request ( params[:id] )
  =link_to '[ Edit ]', edit_pin_path
  =link_to '[ Destroy ]', pin_path, method: :delete, data:{ confirm:'Are you sure?' }
