.row#pin_show
  .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading.pin_image= image_tag @pin.image.url( :medium )
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
      .panel-footer
        .row
          .col-xs-7
            %p.user
              -link_to_user_profile_of( @pin )
          .col-xs-5
            -unless @pin.user == current_user
              .btn-group.pull-right
                -like_dislike_buttons_for( @pin )
            -if @pin.user == current_user
              .btn-group.pull-right
                =link_to 'Edit', edit_pin_path( @pin ), class:'btn btn-default'
                =link_to 'Destroy', @pin, method: :delete, data:{ confirm:'Are you sure?' }, class:'btn btn-default'

      .panel-body
        -# contrast with a01_raddit:
        %h3 Comments
        -if @pin.comments.present?
          =render @pin.comments
        =simple_form_for [ @pin, Comment.new ] do |f|
          =f.input :body, label:false, input_html:{ rows:2, style:'min-height:0 !important;', class:'form-control', placeholder:'Your thoughts?' }
          =f.button :submit, class:'btn btn-secondary'
